<h2>User info</h2>
<table>
  <tr>
    <th>name</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= user.introduction %></th>
  </tr>
</table>

<%= if @user.id == current_user.id %>
  <%= link_to "編集", edit_user_path(@user) %>
<% end %>