<%= render 'users/info', user: current_user %>
<%= render 'books/new', book: @book %>

<h2>Users</h2>
<table>
  <theader>
    <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
    </tr>
  </theader>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td></td>
        <td><%= user.name %></td>
        <td>show</td>
      </tr>
    <% end %>
  </tbody>
</table>