<%= render 'users/info', user: @user %>
<%= render 'books/new', book: @book %>

<h2>Books</h2>
<table>
  <theader>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </theader>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td></td>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>